<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.backend.mapper.ReportStatisticsMapper">
    <!-- 报表中心-各平台盈利排行版 -->
    <select id="platLeaderBoardProfitStatisticsList" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT xb_uid as uid,xb_username as username,ifnull(sum(xb_profit) ,0) as profit FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY uid
        ORDER BY profit DESC
        LIMIT 20
    </select>

    <!-- 报表中心-各平台盈亏报表->列表 -->
    <select id="getPlatformProfitList" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT xb_uid as uid,xb_username as username,ifnull(sum(xb_profit) ,0) as profit FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="gameId != null and gameId != ''">
                and ${columnName1} = #{gameId}
            </if>
            <if test="uidList != null and  uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY uid
        ORDER BY profit DESC
        <if test="size != null">
            LIMIT #{size}
        </if>
    </select>

    <!-- 报表中心-各平台盈亏报表->列表SQL分页 -->
    <select id="getPlatformProfitPage" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT  xb_uid as uid,xb_username as username,ifnull(sum(xb_profit) ,0) as profit FROM win_betslips
        <where>
            <if test="po.startTime != null">
                and updated_at &gt;= #{po.startTime}
            </if>
            <if test="po.endTime != null">
                and updated_at &lt;= #{po.endTime}
            </if>
            <if test="po.gameId != null and po.gameId != ''">
                and game_id = #{po.gameId}
            </if>
            <if test="po.uidList != null and  po.uidList.size > 0">
                and xb_uid in
                <foreach collection="po.uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="po.testUidList != null and  po.testUidList.size > 0">
                and xb_uid not in
                <foreach collection="po.testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY uid
    </select>

    <!-- 报表中心-综合走势图-各平台投注总额或游戏盈亏 -->
    <select id="getPlatCoinStatistics" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(${columnName}) ,0) as coin  FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="uidList != null and uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 综合走势图-游戏盈亏与投注注数:游戏盈亏 -->
    <select id="getPlatProfitStatistics" resultType="com.lt.win.backend.io.po.PlatProfitAndBetCountChartPo">
        SELECT ifnull(sum(xb_profit) ,0) as coin, FROM_UNIXTIME(updated_at,'%Y-%m-%d') as name FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by
        FROM_UNIXTIME(updated_at,'%Y-%m-%d')
    </select>
    <!-- 综合走势图-游戏盈亏与投注注数:投注注数 -->
    <select id="getPlatBetCountStatistics" resultType="com.lt.win.backend.io.po.PlatProfitAndBetCountChartPo">
        SELECT count(id) as count,FROM_UNIXTIME(updated_at,'%Y-%m-%d') as name FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by
        FROM_UNIXTIME(updated_at,'%Y-%m-%d')
    </select>
    <!-- 综合走势图-游戏盈亏与投注注数:投注人数 -->
    <select id="getPlatBetUserCountStatistics" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT xb_uid as uid,FROM_UNIXTIME(updated_at,'%Y-%m-%d') as dateName FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by dateName,uid order by dateName
    </select>


    <!-- 每日报表new->按平台统计:投注总额|输赢总额 -->
    <select id="getDailyReportStatisticsPlatCoin" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT game_group_id as groupId , ifnull(sum(stake) ,0) as coin,ifnull(sum(xb_profit) ,0) as profit FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="uidList != null and uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and xb_username = #{username}
            </if>
            <if test="gameId != null and gameId != ''">
                and game_id = #{gameId}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    group by game_group_id
    </select>

    <!-- 每日报表new->投注笔数-->
    <select id="getBetCount" resultType="long">
        SELECT count(id) as count FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="uidList != null and uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <!-- 每日报表new->投注人数-->
    <select id="getBetUserCount" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        SELECT xb_uid as uid FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="uidList != null and uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by uid
    </select>

    <!-- 交易记录-投注总额-列表 -->
    <select id="getPlatBetTotalList" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        select id as id,xb_uid as uid,xb_username as username,${columnName1} as gameId,${columnName2} as actionNo,
        xb_coin as coin,xb_profit as profit,xb_status as status,created_at as createdAt,updated_at as updatedAt
        FROM win_betslips
        <where>
            <if test="startTime != null">
                and updated_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_at &lt;= #{endTime}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and xb_username = #{username}
            </if>
            <if test="testUidList != null and  testUidList.size > 0">
                and xb_uid not in
                <foreach collection="testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="uidList != null and  uidList.size > 0">
                and xb_uid in
                <foreach collection="uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by updated_at desc
        <if test="size != null">
            limit #{size}
        </if>
    </select>

    <!-- 交易记录-投注总额-SQL分页 -->
    <select id="getPlatBetTotalListPage" resultType="com.lt.win.backend.io.po.ReportStatisticsPo">
        select id as id,xb_uid as uid,xb_username as username,game_id as gameId,round_id as actionNo,
        xb_coin as coin,xb_profit as profit,xb_status as status,created_at as createdAt,updated_at as updatedAt
        FROM win_betslips
        <where>
            <if test="po.startTime != null">
                and updated_at &gt;= #{po.startTime}
            </if>
            <if test="po.endTime != null">
                and updated_at &lt;= #{po.endTime}
            </if>
            <if test="po.id != null">
                and id = #{po.id}
            </if>
            <if test="po.username != null">
                and xb_username = #{po.username}
            </if>
            <if test="po.gameId != null and po.gameId != ''">
                and game_id = #{po.gameId}
            </if>
            <if test="po.testUidList != null and  po.testUidList.size > 0">
                and xb_uid not in
                <foreach collection="po.testUidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="po.uidList != null and  po.uidList.size > 0">
                and xb_uid in
                <foreach collection="po.uidList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
