<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.Admin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="agent_id" property="agentId" />
        <result column="password_hash" property="passwordHash" />
        <result column="admin_group_id" property="adminGroupId" />
        <result column="operate_id" property="operateId" />
        <result column="parent" property="parent" />
        <result column="secret" property="secret" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, agent_id, password_hash, admin_group_id, operate_id, parent, secret, status, created_at, updated_at
    </sql>

</mapper>
