<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.AuthGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.AuthGroup">
        <id column="id" property="id" />
        <result column="admin_group_id" property="adminGroupId" />
        <result column="pid" property="pid" />
        <result column="parent" property="parent" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="rules" property="rules" />
        <result column="operate_id" property="operateId" />
        <result column="data_permission" property="dataPermission" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_group_id, pid, parent, title, status, rules, operate_id, data_permission, created_at, updated_at
    </sql>

</mapper>
