<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.DictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.DictItem">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="refer_id" property="referId" />
        <result column="status" property="status" />
        <result column="is_show" property="isShow" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, title, remark, sort, refer_id, status, is_show, created_at, updated_at
    </sql>

</mapper>
