<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.GameListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.GameList">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="group_id" property="groupId" />
        <result column="plat_list_id" property="platListId" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="revenue_rate" property="revenueRate" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="maintenance" property="maintenance" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, icon, group_id, plat_list_id, remark, sort, revenue_rate, status, created_at, updated_at, maintenance
    </sql>

</mapper>
