<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.LotteryBetslipsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.LotteryBetslips">
        <id column="id" property="id" />
        <result column="periods_no" property="periodsNo" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="odds" property="odds" />
        <result column="coin_bet" property="coinBet" />
        <result column="coin_payout" property="coinPayout" />
        <result column="status" property="status" />
        <result column="payout_code" property="payoutCode" />
        <result column="payout_name" property="payoutName" />
        <result column="bet_code" property="betCode" />
        <result column="bet_name" property="betName" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, periods_no, uid, username, code, name, odds, coin_bet, coin_payout, status, payout_code, payout_name, bet_code, bet_name, created_at, updated_at
    </sql>

</mapper>
