<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.win.dao.generator.mapper.LotteryOpenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.win.dao.generator.po.LotteryOpen">
        <id column="id" property="id" />
        <result column="periods_no" property="periodsNo" />
        <result column="lottery_code" property="lotteryCode" />
        <result column="lottery_name" property="lotteryName" />
        <result column="open_code" property="openCode" />
        <result column="main_code" property="mainCode" />
        <result column="open_all_code" property="openAllCode" />
        <result column="status" property="status" />
        <result column="update_user" property="updateUser" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, periods_no, lottery_code, lottery_name, open_code, main_code, open_all_code, status, update_user, created_at, updated_at
    </sql>

</mapper>
